* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --cell-height: 40;
    --cell-width: 40;
}

body {
    margin: 20px;
    background: black;
    display: grid; 
    place-items: center;
}

input {
    margin-top: 20px;
    background-color: black;
    border: 2px solid green;
    border-radius: 4px;
    padding: 2px 2px 2px 0.4rem;
}

button {
    margin-top: 20px;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: transparent;
    border: 2px solid green;
}


.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 440px;
}

.column:hover {
    background-color: rgba(200, 200, 200, 0.2);
    cursor: pointer;
}

.column {
    margin-left: 4px;
    height: 40px;
    width: 40px;
    border: 2px solid grey;
}

.gameboard {
    position: relative;

    border: 2px solid green;
    margin-top: 40px;
    padding: 44px;
    height: 488px;
    width: 488px;
}

.ship-container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.ship:hover {
    filter: none;
}

.ship {
    margin-top: 20px;
    height: 40px;
    background-color: white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
} 

.alpha {
    width: 80px;
    background-image: url('./images/Alpha.png');
}

.beta {
    width: 120px;
    background-image: url('./images/Beta.png');
}

.gamma {
    width: 120px;
    background-image: url('./images/Gamma.png');
}

.delta {
    width: 160px;
    background-image: url('./images/Delta.png');
}

.epsilon {
    width: 200px;
    background-image: url('./images/Epsilon.png');
}
