* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --cell-height: 40;
    --cell-width: 40;
}

body {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    padding: 5px;
    background: black;
    display: grid; 
    place-items: center;
}

input {
    margin-top: 20px;
    background-color: black;
    border: 2px solid green;
    border-radius: 4px;
    padding: 2px 2px 2px 0.4rem;
}

button {
    margin-top: 20px;
    min-width: 80px;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: transparent;
    border: 2px solid green;
}

button:hover {
    background-color: rgb(38, 38, 38);
}

.reset, .random {
    margin-left: 20px;
}

.submit {
    opacity: 0.5;
}

.cell:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.cell {
    position: relative;
    height: 40px;
    width: 40px;
    border: 2px solid lightgreen;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.computer-board > .cell {
    border: 2px solid lightcoral;
}

.gameboard {
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 2px solid green;
    margin-top: 20px;
    height: 444px;
    width: 448px;
}

.axis-container {
    display: flex;
    margin-top: 20px;
    width: 300px;
    justify-content: space-between
}

.axis-state-container {
    display: flex;
    width: 100px;
    justify-content: center;
}

.axis {
    color: white;
}

.name {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.ship-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 2px solid green;  
    margin-top: 20px;
    padding-bottom: 20px;
}

.ship {
    margin: 20px 20px 0 20px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 2;
} 

.alpha {
    width: 84px;
    transform: scale(0.9, 1);
    background-image: url('./images/Alpha.png');
}

.beta {
    width: 98px;
    transform: scale(1.3, 0.9);
    background-image: url('./images/Beta.png');
}

.gamma {
    width: 117px;
    transform: scale(1.1, 0.9);
    background-image: url('./images/Gamma.png');
}

.delta {
    width: 157px;
    transform: scale(1.1, 0.9);
    background-image: url('./images/Delta.png');
}

.epsilon {
    width: 181px;
    transform: scale(1.2, 0.9);
    background-image: url('./images/Epsilon.png');
}

.placed {
    margin: 0;
    position: absolute;
    z-index: -1;
}

.overlay-msg {
    position: absolute;
    width: 100%;
    background-color: rgba(200, 200, 200, 0.5);
    font-size: 3rem;
    text-align: center;
    color: white; 
    top: 50%;
    transition: all 2s;
    transform: translateY(-50%);
    opacity: 0%;
    text-shadow: 2px 2px 8px black;
    pointer-events: none;
}

.end-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4, 25vh);
    place-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.end-msg {
    grid-row-start: 2;
    text-align: center;
    color: white;
    font-size: 4rem;
    place-self: bottom;
}

.replay {
    grid-row-start: 3;
    font-size: 4rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
    border: 6px solid green;
    border-radius: 20px;
}