* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --cell-height: 40;
    --cell-width: 40;
}

body {
    margin-top: 20px;
    padding: 5px;
    background: black;
    display: grid; 
    place-items: center;
}

input {
    margin-top: 20px;
    background-color: black;
    border: 2px solid green;
    border-radius: 4px;
    padding: 2px 2px 2px 0.4rem;
}

button {
    margin-top: 20px;
    min-width: 80px;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: transparent;
    border: 2px solid green;
}

button:hover {
    background-color: rgb(38, 38, 38);
}

.reset {
    margin-left: 20px;
}

.cell:hover {
    cursor: pointer;
}

.cell {
    position: relative;
    height: 40px;
    width: 40px;
    border: 2px solid grey;
}

.gameboard {
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 2px solid green;
    margin-top: 20px;
    height: 444px;
    width: 448px;
}

.axis {
    margin-top: 20px;
    color: green;
}

.ship-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 2px solid green;  
    margin-top: 20px;
    padding-bottom: 20px;
}

.ship {
    margin: 20px 20px 0 20px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 2;
} 

.alpha {
    width: 84px;
    transform: scale(0.9, 1) translateX(-2px);
    background-image: url('./images/Alpha.png');
}

.beta {
    width: 98px;
    transform: scale(1.3, 0.9) translateX(13px);
    background-image: url('./images/Beta.png');
}

.gamma {
    width: 117px;
    transform: scale(1.1, 0.9) translateX(7px);
    background-image: url('./images/Gamma.png');
}

.delta {
    width: 157px;
    transform: scale(1.1, 0.9) translateX(9px);
    background-image: url('./images/Delta.png');
}

.epsilon {
    width: 181px;
    transform: scale(1.2, 0.9) translateX(16px);
    background-image: url('./images/Epsilon.png');
}

.placed {
    margin: 0;
    position: absolute;
    pointer-events: none;
}